PORT=3000
LOCAL_OLLAMA_HOST="http://192.168.0.120:11434"
QDRANT_HOST="192.168.0.120"
QDRANT_PORT=6333
EMBEDDING_MODEL=
CHAT_API=
CHAT_API_KEY=


# Weather
OPENWEATHER_API=
LAT=
LON=
LOCATION=


# AI API
GROQ_API=



